/* Global */

body {
    background-color: #E5E5E5;
    margin: 0;
    min-width: 800px;
    padding-left: 80px;
    padding-right: 160px;
}

p, input, textarea {
    font-family: "Noto Sans KR", serif;
    word-break: break-all;
}

button {
    background-color: #FFFFFF;
    border: none;
    display: inline;
}

input {
    border-style: hidden;
    width: 100%;
}

textarea {
    border-style: hidden;
    height: auto;
    resize: none;
    width: 100%;
}

.button_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.grey_button {
    background-color: #E0E0E0;
    border-radius: 6px;
    color: #828282;
    flex: 1;
    height: 40px;
}

.blue_button {
    background-color: #0075DE;
    border-radius: 6px;
    color: #FFFFFF;
    flex: 1;
    height: 40px;
    margin-left: 8px;
}

ol {
    list-style: none;
    padding: 0;
}

strong {
    font-weight: bold !important;
}

.visible {
    opacity: 1;
    visibility: visible;
}

.invisible {
    opacity: 0;
    visibility: hidden;
}

:hover {
    transition: .5s ease-in-out;
}

/* Header */
header {
    align-items: center;
    display: flex;
    height: 112px;
    justify-content: space-between;
}

#header_title {
    display: inline-block;
}

#header_menu_button {
    background-color: #E5E5E5;
}

/* Main */
main {
    overflow-y: scroll;
}

#column_holder {
    display: flex;
    position: relative;
}

.column {
    flex: 1;
    margin: 8px;
    min-width: 300px;
    padding-bottom: 100px;
}

.column_header {
    align-items: center;
    display: flex;
    height: 32px;
    margin: 0 0 16px 0;
}

.column_header_text {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-left: 8px;
}

.column_header_text:hover {
    color: #0075DE;
}

.number_circle {
    background-color: #BDBDBD;
    border-radius: 50%;
    display: inline-block;
    height: 26px;
    margin-left: 16px;
    width: 26px;
}

.column_add_button {
    background-color: #E5E5E5;
    display: inline-block;
    margin-left: auto;
}

.column_add_button:hover {
    color: #0075DE;
}

.column_delete_button {
    background-color: #E5E5E5;
    display: inline-block;
    float: right;
    margin-left: 16px;
}

.column_delete_button:hover {
    color: #FF4343;
}

.number_circle {
    align-items: center;
    background: #BDBDBD;
    border-radius: 50%;
    display: flex;
    height: 24px;
    justify-content: center;
    margin-left: 8px;
    width: 24px;
}

.column_confirm_button {
    margin-left: 8px;
}

.column_confirm_button:hover {
    color: #0075DE;
}

/* Default card */

.card {
    background-color: #FFFFFF;
    border-radius: 6px;
    card-shadow: 0 1px 30px rgba(224, 224, 224, 0.3);
    margin-bottom: 16px;
    min-width: 200px;
    padding: 0 16px 16px;
}

.card_title {
    align-items: center;
    display: flex;
    height: 48px;
    justify-content: space-between;
}

.card_delete_button {
    float: right;
    margin-left: auto;
}

.card_edit_button {
    float: right;
}

.card_delete_button:hover {
    color: #FF4343;
}

.card_title_text {
    font-size: 16px;
    font-weight: 700;
}

.card_main_text {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.card_author_text {
    color: #BDBDBD;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 8px;
}

/* Addition card */

.card_addition {
    border: solid #0075DE;
    padding: 16px;
}

.card_addition_title {
    margin: 0;
}

.card_addition_text {
    margin-top: 16px;
}

/* Deletion card */

.card_deletion {
    background-color: #FFEEEC;
    border: solid #FF4343;
}

.card_deletion .card_delete_button {
    background-color: #FFEEEC
}

/* Side menu */

.sidebar {
    background-color: #FFFFFF;
    card-shadow: rgba(204, 204, 204, 0.5);
    height: 100%;
    overflow-y: scroll;
    padding: 40px;
    position: fixed;
    right: 0;
    top: 0;
    width: 25%;
    z-index: 1;
}

#sidebar_close_button {
    float: right;
}

.sidebar_block {
    display: flex;
    margin-top: 24px;
    padding: 16px;
}

.sidebar_block:last-child {
    margin-bottom: 100px;
}

.sidebar_block_emoji {
    font-size: 40px;
    margin-right: 16px;
    margin-top: 0;
}

.sidebar_block_name {
    font-size: 16px;
    margin: 0;
}

.sidebar_block_text {
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 8px;
}

.sidebar_block_time {
    color: #828282;
    font-size: 14px;
    margin-top: 8px;
}

/* Popup view */

#popup_overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup {
    background-color: #FFFFFF;
    border-radius: 6px;
    left: 50%;
    padding: 24px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.popup_text {
    font-size: 18px;
    margin-top: 0;
}

#card_deletion_popup_buttons {
    margin-bottom: 0;
    margin-left: 100px;
}

/* fav */

#fav {
    background-color: #0075DE;
    border-radius: 50%;
    bottom: 50px;
    height: 64px;
    position: fixed;
    right: 50px;
    width: 64px;
}

.fav_add {
    color: #FFFFFF;
    font-size: 48px !important;
}

/* test zone */
.dragging {
    opacity: .5;
}